
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#acerca {
    flex: wrap;
    flex-direction: row;
    padding:15px;
}
    
.container {
 flex: wrap;
 flex-direction: row; 
 background: lightgrey;

}
div.img{
    display:inline-flex;
    flex:wrap;
}
.img {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 350px;
    background: lightgrey;
    padding:20px;
}

#acerca h1 {
    display: inline-block;
    padding-top:100px;
    padding-left: 80px;
    font-size: 30px;
    align-content: center;
    align-items:center ;
}

.img p {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    font-size: 16px;
    align-items: center;
    padding: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
    border-color: green;
}

.tabares img {
    width: 120px;
    height: 120px;   
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: lightgrey;

}

.tabares p {
    display: inline-flex;
}
.atn img {
    display: inline-flex;
    width: 120px;
    height: 120px;   
    border-radius: 50%;
}

#equipo {
    display: inline-block;
    flex-direction: row;
    padding: 200px;
    background: rgba(137, 43, 226, 0.849);
}

.team{

    padding:20px;
}

.tabares{
    padding:20px;
    display: flex;

}

.tabares p{
    display: flex;
    padding: 10px;

}
.content {
    flex-direction: column;
    flex-wrap: wrap;
}

p h4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.atn{
    padding:20px;
    display: flex;
}

.content2 {
    flex-direction: column;
    flex-wrap: wrap;
}

.atn p{
    display: flex;
    padding: 10px;

}

#sucursales{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-size:16px ;
    padding: 15px;

}

#sucursales a{
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 35%;
    padding: 5px;
}

.fa-arrow-up{
    position: absolute;
    right: 2%;
    bottom: -1rem;
    padding: 1rem;
    background-color: #F5F5DC;
    cursor: pointer;
}
.escalar:hover{
    transition: transform 1s;
    transform: scale(1.1);
}

/* MEDIA QUERIES */
/* Para pantallas grandes */



/* Para móviles */
@media (min-width:350px) and (max-width:767px){  
    html{
        font-size: 70%;
    }    
    div.img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.container {
    overflow-y: scroll;
}


    .container img{ 
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95%;
    max-height: 80vw;
    min-height: 75%;
}
img{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
    .img p{
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 95%;
        max-height: 80vw;
        font-size: 85%;
    }

    
    /*.contenedorGrid:not(.contacto ul){
        grid-template-columns: 1fr;
    }
    header nav ul li{
        font-size: 2rem;
    }
    #home span{
        font-size: 6rem;
    }
    #home p{
        text-align: center;
        font-size: 1.5rem;
    }
    #experiencias .activar{
        display: block;
    }
    .navegacion{
        text-align: center;
    }*/
}
  
footer{
    padding: 1rem;
    background-color: #aeadad;
    color: #232323;
}
footer h3{
    margin-bottom: 1rem;
    color: beige;
}

footer .contenedorGrid{
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    margin-top: 3rem;
}
.newsletter{
    text-align: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}
.newsletter h1{
    color: #000;
}
.newsletter input{
    display: block;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: .5rem;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background: none;
    border-bottom: 2px solid #FFF;
}
.newsletter .btn{
    border-radius: .5rem;
    width: 7rem;
    background-color: #ff6a00;
    border: 1px solid transparent;

}
.newsletter .btn:hover{
    background-color: #df6b18;
    border-color: #fff;
}

.redes-sociales li{
    display: flex;
    margin-bottom: 2rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.redes-sociales a{
    background-color: antiquewhite;
    border-radius: .5rem;
    padding: .5rem;
    width: 8rem;
    text-align: center;
}
.redes-sociales i{
    color: #000;
    font-size: 1.5rem;
} 
.contacto{
    text-align: center;
}
.contacto .contenedorGrid{
    margin-top: 2rem;
}
.contacto i{
    color: #000;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.navegacion{
    text-align: right;
}
.navegacion a{
    color: #000;
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: .5rem;
}