<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De - Grupo6CAC</title>
</head>
<body>
        <header>
            <nav id="nav">
                <div clas="container">
                    <p class="logo"> Decorarte Muebles</p>
                <ul>
                    <li> <a href="#fotoKC"> Decorarte Muebles</a></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#resume">Acerca de </a></li>
                </ul>
            </div>
            </nav>
        </header>
        <main>
        <section id="hero">
            <div class="container">
            <h1>La Empresa <br> Quienes somos</h1> <br>
            <!-- <a href="#resume"> <button> Leer Más</button></a> -->
            </div>
        </section>
        <section id="resume">
            <div class="container">
            <div class="img-container"></div>
            <p>
                 Decorarte Muebles... es una empresa que inicia sus actividades en el año 1997, desde hace más de 25 años nos especializamos en el diseño y venta de muebles para el hogar, resaltando por nuestro compromiso inquebrantable con la calidad y la creatividad. Con una pasión arraigada en la artesanía y el diseño de interiores, nos esfuerzamos constantemente por ofrecer a nuestros clientes productos que combinan funcionalidad y estética de manera excepcional. <br>
                 <br>Cada pieza es cuidadosamente concebida por un equipo de diseñadores talentosos y fabricada con los más altos estándares de calidad, utilizando materiales sostenibles siempre que sea posible. Nos enorgullece ofrecer una amplia gama de estilos que van desde lo clásico y atemporal hasta lo moderno y vanguardista, asegurando que nuestros productos se adapten a una variedad de ambientes y estilos de vida. Nuestro compromiso con la calidad y la artesanía se refleja en cada pieza que producimos, convirtiendo los espacios de nuestros clientes en hogares acogedores y hermosos. Estamos comprometidos con la excelencia en el diseño y la satisfacción del cliente.
    
                </p>
                <h2> Conoce nuestras sucursales</h2>
                <a href="sucursales.html" target="_blank"> <strong>Click Aqui</strong></a><br>
        </div>
        <footer></footer>
</body>
</html>