<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Grupo6CAC</title>
</head>
<header></header>
<body>
    <section>
		<nav id="contacto">        
				<h2>Contacto</h2>
	        <form method="POST" action="#">
	        	<ul>
	        		<li>Nombre:</li>
	        			<input type="text" name="nombre" class="field" required></li>
	        		<li>Apellido:</li>
	        			<input type="text" name="apellido" class="field" required></li>
	        		<li>Email:</li>
	        			<input type="email" name="correo" class="field" required></li>
	        		<li>Mensaje:</li>
	        			<textarea name="mensaje" rows="6" class="field" required></textarea></li>
	        		<li class="center"><input type="submit" name="enviar" class="fields"></li>
	        	</ul>
	   </nav>
	   </section>
	   <footer></footer>       
</body>
</html>